* {
    margin: 0;
    padding: 0;
}

:root {
    --blanco: white;
    --colorfondo: rgb(80, 20, 100);
}

html {
    background-image: url(imagenes/img2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .9;
}
.logo{
width: 60px;
height: 5rem;
}
.encabezador {
    display: flex;
    justify-content: space-between;
    background: rgb(1, 11, 30);
}
.titulo{
    font-size: 2rem;
}
.feedback a {
    font-size: 1rem;
    padding: 10px;
    color: #fff;
}

span, ul {
    background-image: linear-gradient(to right, rgb(236, 8, 229), rgb(190, 190, 212), rgb(7, 215, 7));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 4px;
}


.logo {
    width: 30%;
    padding: 10px;
}

h1 {
    color: var(--blanco);
    text-align: center;
    padding: 10px;
}

.letras:hover {
    background-image: linear-gradient(to right, rgb(236, 8, 229), rgb(190, 190, 212), rgb(7, 215, 7));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#aside div {
    padding: 10px;
}
.heramientas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem;
}

button {
    width: 9rem;
    height: 5vh;
    background: var(--colorfondo);
    color: var(--blanco);
    border-radius: 10px;
}

button:hover {
    box-shadow: 2px 6px 20px var(--colorfondo);
    border: none;
}

.imagen1 {
    border-radius: 20px;
    background: black;
    opacity: .7;
    padding: 20px;
    border-radius: 20px;
}

p {
    color: var(--blanco);
    font-size: 20px;
    text-align: center;
}

span,
address {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: var(--blanco);
}

.pro{
    display: flex;
    justify-content: center;
}

figure .imagenes {
    width: 100%;
    height: 15vh;
}

figcaption {
    color: white;
    font-size: 100%;
}

/* Estilos para el modal */
.modal {
    display: none;
    /* Ocultar el modal por defecto */
    position: fixed;
    /* Posición fija para mantenerlo en el centro de la pantalla */
    z-index: 1;
    /* Asegurarse de que el modal esté en la capa superior */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Permitir el desplazamiento si el contenido es más largo que la pantalla */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo oscuro semitransparente para resaltar el modal */
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* Centrar verticalmente el contenido del modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Ajustar el ancho del modal */
}

/* Estilos para el botón de cierre */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el modal */
.modal {
    display: none;
    /* Ocultar el modal por defecto */
    position: fixed;
    /* Posición fija para mantenerlo en el centro de la pantalla */
    z-index: 1;
    /* Asegurarse de que el modal esté en la capa superior */
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #000;
    overflow: auto;
    /* Permitir el desplazamiento si el contenido es más largo que la pantalla */
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo oscuro semitransparente para resaltar el modal */
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* Centrar verticalmente el contenido del modal */
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    text-align: justify;
    height: 20%;
    /* Ajustar el ancho del modal */
}

/* Estilos para el botón de cierre */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#mostrar,
#mostrar1 {
    display: grid;
    place-items: center;
    margin-top: 20px;

}

i {
    color: chartreuse;
    font-size: 30px;
    margin: 20px;
    cursor: pointer;
}

#cuerpo {
    display: grid;
    grid-template-columns: auto 1fr;
}

#section1 {
    overflow: auto;
    padding: 1rem 2rem;
    background: rgb(1, 11, 30);
}

#section1 ul,
#section1 a {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    text-decoration: none;
}

.ul {
    margin: 1rem 0;
}

/* Estilos con grid en el container */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--colorfondo);
    width: 100%;
    height: 50vh;
   
opacity:.7 ;
}
.vandera {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    right: 400px;
    position: relative;
}
.vandera img {
    width: 50px;
}
.formulario{
    left: 40px;
    position: relative;  
    }
 input{
        width: 100%;
        height: 4vh;
       
    }
  
    input::placeholder{
       text-align: center;
        color:var(--colorfondo);   
    }
    .Subscrion input{
        width: 20%;
    }
    label{
        font-size: 20px;
        color: white;
    }
    .Subscrion{
    left: 1100px;
    bottom: 300px;
    position: relative;
    }
    #mensaje{
        left: 450px;
        bottom: 280px;
        position: relative;
        font-size: 20px;
        }
    #Suscribete{
        display: none;
    }
    .Subscrion button{
        background: rgb(3, 193, 240);
        color: #000;
        
        }
        .Subscrion button:hover{
            background: transparent;
            color: #f9f3f3;
            box-shadow: 2px 4px 10px var(--colorfondo);
            
            } 
        .enviar{
            background: #fefefe;
            color: #000;
            width: 100%;
        }